<h1>Editing designation</h1>

<%= render "form", designation: @designation %>

<br>

<div>
  <%= link_to "Show this designation", @designation %> |
  <%= link_to "Back to designations", designations_path %>
</div>
