<div class="card-container">
  <div class="card" style="width: 18rem; margin-left: 270px; margin-top: -80px; width: 1100px; border-radius: 10px; background: linear-gradient(to right, #eaeaea 0%, #eaeaea 33.33%, #f1f1f1 33.33%, #f1f1f1 66.66%, #c0c0c0 66.66%, #c0c0c0 100%);">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="card-text">Total Bills Submitted:</p>
        </div>
        <div class="col">
          <p class="card-text">Total Amount: $1000</p>
        </div>
        <div class="col">
          <p class="card-text">Total Employees: 10</p>
        </div>
      </div>
    </div>
  </div>
</div>
