<div class="card-container">
  <div class="card" style="width: 24rem; height: 100px; margin-left: 270px; margin-top: -80px; width: 1100px; border-radius: 10px; background: linear-gradient(to right, #e2eef6 0%, #e2eef6 33.33%, #faf0e6 33.33%, #faf0e6 66.66%, #fff1f1 66.66%, #fff1f1 100%);">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <br>
          <h5 class="card-text">Total Bills Submitted:   <%= @total_bills %></h5>
        </div>
        <div class="col">
          <br>
          <h5 class="card-text">Total Amount: Rs. <%= @total_amount %></h5>
        </div>
        <div class="col">
          <br>
          <h5 class="card-text">Total Employees: <%= @total_employees %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
